{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jednostka</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jednostka.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ jednostka.nazwa }}</td>
            </tr>
            <tr>
                <th>Skrot</th>
                <td>{{ jednostka.skrot }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">

      <div class="col-md-1">
          <a href="{{ path('jednostka_index') }}" class="btn btn-secondary">Wróć do listy jednostek</a>
       </div>

       <div class="col-md-1">
            <a href="{{ path('jednostka_edit', { 'id': jednostka.id }) }}" class="btn btn-primary">Edytuj</a>
        </div>
      </div>

{% endblock %}
